<section class="light">
    <div class="container py-2">

        <div class="h1 text-center text-dark" id="pageHeaderTitle">About Fintellects</div>

        <!--<img class="postcard__img" src="../../assets/images/mountain.jpeg" alt="Image Title">-->
        <!--
        <article class="postcard dark red">

 
            <img class="postcard__img" src="https://picsum.photos/501/500" alt="alternating images">
            

 

            <div class="postcard__text t-dark">

                <h1 class="postcard__title red">Social Learning</h1>

 

                <div class="postcard__bar"></div>

                <div class="postcard__preview-txt">Learning is a part of life. We learn a lot of different facts,

                    figures, and formulas, but in the US there is not an extensive curriculum that revolves around

                    real financial education. Considering, that now about 25% of the trading volume is from individual

                    investors that is rather alarming.

                    However, sometimes those topics are off limits in social settings or amongst close relations.

                    Fintellects wants to change that and make financial knowledge a social experience.

                </div>

            </div>

        </article>
    -->
    <article class="postcard dark yellow">
        <a class="postcard__img_link" href="#">
            <img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
        </a>
        <div class="postcard__text">
            <h1 class="postcard__title yellow"><a href="#">Social Learning</a></h1>
            <div class="postcard__subtitle small">
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt">
                Learning is a part of life. We learn a lot of different facts,

                figures, and formulas, but in the US there is not an extensive curriculum that revolves around

                real financial education. Considering, that now about 25% of the trading volume is from individual

                investors that is rather alarming.

                However, sometimes those topics are off limits in social settings or amongst close relations.

                Fintellects wants to change that and make financial knowledge a social experience.          
            </div>
            <ul class="postcard__tagbox">
                <li class="tag__item play yellow">
                    <a href="Sign Up Today!"><i class="fas fa-play mr-2"></i>Sign Up Today!</a>
                </li>
            </ul>
        </div>
    </article>
    </div>

</section>

