<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets\images\fintellects-logos-trnpt2.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-0 mb-lg-0">
          <li class="nav-item nav-margin-sides">
            <a class="nav-link" routerLinkActive="active current" routerLink="/home">Home</a>
          </li>
          <!--<li class="nav-item nav-margin-sides">
            <a class="nav-link" routerLinkActive="active current" routerLink="/pricing">Pricing</a>
          </li>-->
          <li class="nav-item nav-margin-sides">
            <a class="nav-link" routerLinkActive="active current" routerLink="/about">About</a>
          </li>
          <li *ngIf="isAuthenticated" class="nav-item nav-margin-sides">
            <a class="nav-link" routerLinkActive="active current" routerLink="/post-feed">Dashboard</a>
          </li>
          <li *ngIf="isAuthenticated" class="nav-item nav-margin-sides">
            <a class="nav-link" routerLink="/home" data-test-id="logOut" (click)="signOut()" class="btn">Logout</a>
          </li>
          <li *ngIf="!isAuthenticated" class="nav-item nav-margin-sides">
            <a class="nav-link" routerLinkActive="active current" routerLink="/signin">Log In</a>
          </li>
          <li *ngIf="!isAuthenticated" class="nav-item nav-margin-sides">
            <a routerLink="/signup" routerLinkActive="active current" class="btn">Sign Up</a>
          </li>
          <!-- for dynamic routes like profile
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['profile', profile.id]">Profile</a>
          </li>
          -->
          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pricing
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          -->
        </ul>
        
        <!--
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        -->
      </div>
    </div>
</nav>


