#post-button{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

#post-feed {
    max-width: 500px;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

.action-item{
    margin-left: .5em;
    cursor:pointer;
}

.highlighted{
    color:deeppink
}